//MARGIN TOP
.margin-top-sm {
  margin-top: $margin-top-sm;
}
.margin-top-lg {
  margin-top: $margin-top-lg;
}
.margin-top-xl {
  margin-top: $margin-top-xl;
}
//MARGIN BOTTOM
.margin-bottom-sm {
  margin-bottom: $margin-bottom-sm;
}
.margin-bottom-lg {
  margin-bottom: $margin-bottom-lg;
}
.margin-bottom-xl {
  margin-bottom: $margin-bottom-xl;
}
//MARGIN RIGHT
.margin-right-sm {
  margin-right: $margin-right-sm;
}
.margin-right-lg {
  margin-right: $margin-right-lg;
}
.margin-right-xl {
  margin-right: $margin-right-xl;
}
//MARGIN LEFT
.margin-left-sm {
  padding: $padding-left-sm;
}
.margin-left-lg {
  padding: $padding-left-lg;
}
.margin-left-xl {
  padding: $padding-left-xl;
}
//PADDING
.padding-sm {
  padding: $padding-sm;
}
.padding-lg {
  padding: $padding-lg;
}
.padding-xl {
  padding: $padding-xl;
}
//PADDING TOP
.padding-top {
  padding-top: $padding-top-sm;
}
.padding-top {
  padding-top: $padding-top-lg;
}
.padding-top {
  padding-top: $padding-top-xl;
}
//PADDING BOTTOM
.padding-bottom {
  padding-bottom: $padding-bottom-sm;
}
.padding-bottom {
  padding-bottom: $padding-bottom-lg;
}
.padding-bottom {
  padding-bottom: $padding-bottom-xl;
}
//PADDING RIGHT
.padding-right {
  padding-right: $padding-right-sm;
}
.padding-right {
  padding-right: $padding-right-lg;
}
.padding-right {
  padding: $padding-right-xl;
}
//PADDING LEFT
.padding-left {
  padding-left: $padding-left-sm;
}
.padding-left {
  padding-left: $padding-left-lg;
}
.padding-left {
  padding-left: $padding-left-xl;
}
